

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h3>REACH US</h3>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-phone"></i>9980977955</a></li>
						<li><a href="javascript:void();"><i class="fa fa-envelope-o"></i>laps2020@yahoo.com</a></li>
						<li><a href="javascript:void();"><i class="fa fa-home"></i>#119, RadhaKrishna Sadanam, 2nd floor, Gandhi Bazaar Main Road, Basavanagudi, Bengaluru, Karnataka, India </a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h3>FALLOW US ON</h3>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
							<ul class="list-unstyled list-inline social text-center">
								<li class="list-inline-item"><a href="https://www.facebook.com/leadersmagic"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
								<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
								<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
							</ul>
						</div>
					</div>	
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h3>QUICK LINKS</h3>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About Us</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Events</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- ./Footer -->