<!-- <p>
  about-us works!
</p> -->
<div style='overflow:hidden'>
  <div class="container-fluid float-left">
      <h1>About Leader's Academy</h1>
      
    <p>
        We have many mechanisms, powers and talents that do not show up on our X-rays, blood tests, report cards or resumes. If you are really interested unearthing the hidden potential within U, this unique workshop will definitely help you. Join the Leaders Workshop since there has been and there will never be another U, U are rare, unique, original and only one of your kind.
    </p>
    <p>
        Leaders Workshop is specially designed for life long results. It is an inspirational, interactive, experiential life transforming development program to explore the real U in you. Everybody knows the story of Alladdin and the magic lamp. The genie, which comes out of the magic lamp is nothing but our subconscious mind and Alladdin is our self. This Leaders workshop enables U to awaken the sleeeping gaint within U.
    </p>
  </div>
  <div class="float-right"><div class="img-url2 container-fluid"></div></div>
</div>

<div style='overflow:hidden; margin-top: 30px'>
    <div class="container-fluid float-left">
        <h1>About BalaKrishnan</h1>
     <p>Conducts dynamic programmes on 360 Degree transformation called "Leaders" in more than 47 cities all across the country & aboard from 1998. </p>
     <p>Voted as the best speaker for the year 2002 and also has won the best impromptu speaker for the year 2003.</p>
     <p>Has given talks in All India Radio and many Television channels for the youth.</p>
     <p>Conducts training programmes in the corporates on improving effectiveness, team building, Leadership skills, increasing Sales & profits etc.</p>
     <p>Has addressed more than 90 colleges, Schools and Universities on topics like memory and study skills.</p>
     <p>Till date spoken to 10,00,000 people and has trained more than 30,000 participants throughtout the country from all walks of life.</p>
     <p>He is popularly known as "HAAPPY MAN".</p>
    </div>
    <div class="float-right "><div class="img-url"></div></div>
</div>


<div class="clear mrgin">
  <app-footer></app-footer>
</div>
