/* You can add global styles to this file, and also import other style files */
*{
    font-family: sans-serif;
    font-size: 16px;
}

.leaders-academy{
 background-image: url("/assets/logoAcademy.png");
 background-repeat: no-repeat;
 padding: 38px 270px;
}
.img-url{
    background-image: url(/assets/leaderPic1.jpg);
    background-repeat: no-repeat;
    padding: 200px 271px;
    background-size: cover;
}
.img-url2{
    background-image: url(/assets/sessionPic.jpg);
    background-repeat: no-repeat;
    padding: 200px 271px;
    background-size: cover;
}
/* @media (min-width: 768px){
.navbar-nav {
    float: left;
    margin: 20px;
}
} */

.nav-tabs>li {
    float: left;
    padding: 30px;
}

/* .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-top-color: transparent;
} */
/* .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #ff8080;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-top-color: transparent;
} */

a {
    color: #555;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    color: #555;
    text-decoration: underline;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ffcccc;
    border-bottom-color: transparent;
    border-top-color: transparent;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #ffe6e6;
    color: #ff0000;
}
nav.sticky {
    position: sticky;
    top: 0;
   
    /* font-size: 20px; */
    z-index: 1000;
}
.margin-footer{
    margin-top: 100px
}


/* footer css */
/* Footer */
/* @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #2d3339 !important;
}
#footer h3{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
    font-family: -webkit-body;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

/* footer css ends */

p {
    line-height: 30px;
}