.header-font{
    text-align: center;
    font-family: -webkit-body;
    color: red;
    font-weight: bolder;
}
span.divider.center {
    margin-right: auto;
    margin-left: auto;
}
span.divider {
    display: block;
    margin: 0px 0px 20px 0px;
    width: 262px;
    height: 2px;
    background-color: #ffb3b3;
    font-size: 22px;
    color: #737373;
    font-style: italic;
    font-family: -webkit-pictograph;
}
.border-div{
    border: 3px solid #000;
    /* border-radius: 13px; */
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding: 15px;
    font-size: 20px;
}
.margin-div{
    margin-top: 50px;
}